body{
  background-color: #F0F8FF;
}
.top-row{
  display: inline; /* the default for span */
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow; 
  text-align: center;
  
  float: right;
  right: 0px;
  padding: 10px;
}
.card{
  width:800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 5px 10px #ccc;
  border-radius: 10px;  
}
.card-photo{
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
}
.card-title{
  font-size:20px;
  text-align: center;
  color:darkred;
}
.card-text{
  font-size:14px;
}
.card-subtitle{
  font-size:18px;
  color:grey;
}
.card-list{
  padding-left:0;
  list-style-position:inside;
  font-size:14px;
}